DISCORD_AUTH_CLIENT_ID=...
DISCORD_AUTH_CLIENT_SECRET=...
DISCORD_AUTH_REDIRECT_URI=...

JWT_PUBLIC_KEY=...
JWT_PRIVATE_KEY=...
JWT_ALGORITHM=...
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=...
JWT_REFRESH_TOKEN_EXPIRE_DAYS=...

API_PORT=...
API_HOST=...
DASHBOARD_FRONTEND_URI=...

REDIS_HOST=...
REDIS_PORT=...
REDIS_INSIGHT_PORT=...
REDIS_DB=...
